html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    height: 40%;
    background: skyblue;
}
.grass{
    height: 30%;
    background: rgb(2, 100, 15);
}
.road{
    height: 30%;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0;
    width: 100%;
    position: absolute;
    top: 45%;
}



/* ELEMENTS TO ANIMATE */
.mario{
    position: absolute;
    top: -40px;
    left: 0;
    animation-name: drive;
    animation-duration: 3s;
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    animation-fill-mode: both;
    /* animation-delay: 2s; */

    /* REPEATING ANIMATION */
    /* animation-iteration-count: 3; */
    animation-iteration-count: infinite;
}


.car{
    position: absolute;
    top: 100px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    animation-direction: alternate-reverse;
}



/* KEYFRAMES */
@keyframes drive{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(1000px);
    }
}






















