html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.grass, .sky, .road{
    position: relative;
}
.sky{
    height: 40%;
    background: skyblue;
}
.grass{
    height: 30%;
    background: rgb(2, 100, 15);
}
.road{
    height: 30%;
    background: dimgray;
    box-sizing: border-box;
    border-top: 10px solid gray;
    border-bottom: 10px solid gray;
    width: 100%;
}
.lines{
    box-sizing: border-box;
    border: 5px dashed #fff;
    height: 0;
    width: 100%;
    position: absolute;
    top: 45%;
}



/* ELEMENTS TO ANIMATE */
.mario{
    position: absolute;
    top: -40px;
    left: 0;
    /* animation-name: drive; */
    /* animation-duration: 3s; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
    /* animation-fill-mode: both; */
    /* animation-delay: 2s; */

    /* REPEATING ANIMATION */
    /* animation-iteration-count: 3; */
    /* animation-iteration-count: infinite; */


    /* JUMPING ANIMATION */
    animation: drive 3s both infinite linear, 
               jump .3s 1.2s ease;
}


.car{
    position: absolute;
    top: 100px;
    left: 0;
    animation-name: drive;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;

    /* ANIMATION DIRECTION */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */


    /* ANIMATION TIMING FUNCTION */
    /* animation-timing-function: linear; */
    /* animation-timing-function: ease-in; */
    /* http://cubic-bezier.com */
    animation-timing-function: cubic-bezier(.09,1.19,.94,.19);
}



.cloud{
    position: absolute;
}
.cloud:nth-child(1){
    width: 200px;
    top: 120px;
    opacity: .5;

    /* SHORT WAY TO ANIMATE */
    animation: wind 80s linear infinite reverse;
}
.cloud:nth-child(2){
    width: 300px;
    top: 0px;
    animation: wind 50s linear infinite reverse;
}



/* KEYFRAMES */
@keyframes drive{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(1000px);
    }
}



@keyframes wind{
    from{
        left: -300px;
    }
    to{
        left: 100%;
    }
}


@keyframes jump{
    0%{
        top: -40px;
    }
    50%{
        top: -100%;
    }
    100%{
        top: -40px;
    }
}



























